/node_modules
/public/hot
/public/storage
/public/storage/users/
/public/uploads
/public/css/filament
/public/js/filament
/storage
/storage/*.key
/bootstrap/cache
/var/cache
/var/cache_images
/var/tmp
/AppIOsSource
/AppSource
/pwapp
.env
.env*
.env.*
.env_*
.env.backup
.phpunit.result.cache
.phpunit.cache/
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/avatars
/public/media
/public/testIframe.html
/vendor
/vendor/
/public/images/

.DS_Store
__MACOSX/
.idea
.vscode

# Logs / temp
*.log

# Backups / archives
/backup*.zip
/new-version*.zip
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.rar
*.sql

public/lib/ffmpeg-git-20211013-amd64-static/
public/lib/geoip/*.mmdb
/public/lib/ffmpeg-4.4-full_build_win/
/public/lib/ffmpeg-git-20211013-amd64-static/
