.env
/vendor
/node_modules
/public/uploads
/public/css/filament
/public/js/filament

/storage
/bootstrap/cache
/var/cache
/var/cache_images
/var/tmp
/AppIOsSource
/AppSource
/pwapp
/var/apps



.DS_Store
__MACOSX/
.idea
.vscode

# Logs / temp
*.log
.phpunit.result.cache
.phpunit.cache/

# Backups / archives
/backup*.zip
/new-version*.zip
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.rar
*.sql
/public/storage/users/


.env
.env.*
.env_*
public/lib/ffmpeg-git-20211013-amd64-static/
public/lib/geoip/*.mmdb
