/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env*
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/avatars
/public/media
/public/testIframe.html
/vendor/
/vendor
/public/images/

# Logs / temp
*.log
.phpunit.result.cache
.phpunit.cache/

# Backups / archives
/backup*.zip
/new-version*.zip
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.rar
*.sql
