<<<<<<< HEAD
@import "mixins/mixins";
html, body, #__next, #root {
    height: 100%;
}

body{
    margin: 0px;
    width: 100%;
    padding: 0px;
    transform: none;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.mainContainer
    {
        width: 100%;
        height: 100vh;
        .main{
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;

            .content{
                height: 96%;
                width: 100%;
            }

            .steps{
                max-width:100%;
               // background-color: red;
                display: flex;
                justify-content: center;


                .progressbar-wrapper {
                    //background-color: greenyellow;

                    padding-top: 10px;
                    padding-bottom: 5px;
              }

            }
            .blockAdd
            {
                height: 100%;
                .d-Main{

                        background-color: #ffffff60;
                        width: 50vw;
                        height: calc(50vw/1.77);
                        position: relative;
                        border-style: dotted;
                        border-width: 0.25rem;
                        border-color: $c03;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                }

                .addVideoMain
                {
                    border-radius: 1.5rem;
                    overflow: hidden;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include md{
                        &{
                            border-radius: 1.5rem;
                        }
                    }




                //--------------------------------------------------------------------------ACTIONBOX OPTIONS
                    #widgetContainer{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                       padding: 0;
                       border-radius: 1.5rem;
                       overflow: hidden;
                    .ActionBox
                    {
                        z-index: 15;
                        width: -webkit-fill-available;
                        height: 100%;
                        height: -webkit-fill-available;
                        position: absolute;
                        display: grid;
                        grid-gap: 2%;
                        align-content: space-between;
                        background: #00000098;
                        padding: 2%;
                        margin: 0;
                        .aStart
                        {
                        justify-self: flex-start;
                        align-self: flex-start;
                        }
                        .aEnd
                        {
                        justify-self: flex-end;
                        align-self: flex-end;
                        }
                        .aCenter
                        {
                        justify-self: center;
                        align-self: center;
                        }
                        >li{

                            background:$c05;
                            border: none;
                            border-radius: 1rem;
                            display: flex;
                            overflow: hidden;
                            @include md{
                                &{
                                    border-radius: 1rem;
                                }
                            }

                            i{
                                display: flex;
                                height: 100%;
                                align-items: center;
                                padding: 0 3px;
                            }

                            &:hover{
                                @include Shadow2;
                            // border:solid 3px $c01;
                                //border-style: dotted;
                            }
                            img{
                                object-fit: cover;
                                height: 100%;
                                width: 99.9%;
                            }
                            .content{
                                height: 100%;
                                padding: 0% 0%;
                                align-items: center;
                                justify-content: center;
                                display: flex;
                                flex-direction: row;
                                text-align: left;
                                color:$cDark;
                                h4{
                                    width: 100%;
                                    font-size: 22px;
                                    font-weight: 800;
                                    margin: 0 !important;
                                }
                                p{
                                    width: 100%;
                                    margin: 0 !important;
                                }

                            }
                        }
                        .disable{
                            background: none;
                            border:solid 2px $c03 !important;
                            border-style: dotted !important;
                            .edit-tooltip{
                            background: $c03 !important;
                            }
                            img{
                                display: none !important;
                            }
                            .content
                            {
                            display: none;
                            }
                        }
                        .enable{
                            img{
                            display:initial;
                            }
                            .content
                            {
                            display: flex;
                            }
                        }
                        .imgOn{
                            img{
                                display:initial;
                                }
                        }
                        .imgOff{
                            img{
                                display: none !important;
                            }
                        }
                    }
                    .rows{
                        padding: 0;
                        &-6{
                            grid-template-rows: repeat(6, calc((100% - 10%) / 6));
                        }
                        &-5{
                            grid-template-rows: repeat(5, calc((100% - 8%) / 5));
                        }
                        &-4{
                            grid-template-rows: repeat(4, calc((100% - 6%) / 4));
                        }
                        &-3{
                            grid-template-rows: repeat(3, calc((100% - 4%) / 3));
                        }
                        &-2{
                            grid-template-rows: repeat(2, calc((100% - 2%) / 2));
                        }
                    }

                    .optionsRows{


                        li{
                            .content{

                                align-items: center;
                                justify-content: center;
                                .context{
                                    text-align: center;
                                    /* align-self: center; */
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
                                    justify-content: center;
                                    p{
                                        font-weight: bold;
                                    }
                                }
                            }
                        }

                        .s-100{
                            height: 100%;
                            width: 100% !important;


                        }
                        .s-90{
                            height: 100%;
                            width: 90% !important;
                        }
                        .s-80{
                            height: 100%;
                            width: 80% !important;
                        }
                        .s-75{
                            height: 100%;
                            width: 75% !important;
                        }
                        .s-70{
                            height: 100%;
                            width: 70% !important;
                        }
                        .s-60{
                            height: 100%;
                            width: 60% !important;
                        }
                        .s-50{
                            height: 100%;
                            width: 50% !important;
                        }
                        .s-40{
                            height: 100%;
                            width: 40% !important;
                        }
                        .s-30{
                            height: 100%;
                            width: 30% !important;
                        }
                        .s-25{
                            height: 100%;
                            width: 25% !important;
                        }
                        .s-20{
                            height: 100%;
                            width: 20% !important;
                        }
                        .s-10{
                            height: 100%;
                            width: 10% !important;
                        }
                    }
                    .cols{
                        &-6{
                            grid-template-columns: repeat(6, calc((100% - 10%) / 6));
                        }
                        &-5{
                            grid-template-columns: repeat(5, calc((100% - 8%) / 5));
                        }
                        &-4{
                            grid-template-columns: repeat(4, calc((100% - 6%) / 4));
                        }
                        &-3{
                            grid-template-columns: repeat(3, calc((100% - 4%) / 3));
                        }
                        &-2{
                            grid-template-columns: repeat(2, calc((100% - 2%) / 2));
                        }
                    }
                    .optionsCols{

                        .ABsort-placeholder
                        {
                            border:dotted 2px $c01;
                            background: none;
                        }
                        align-content: normal;
                        li{
                            flex-direction: column;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                            .content{
                                height: 50%;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                            }
                            .edit-tooltip{
                            width: auto;
                            font-size: 14px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 8px 10px;
                            border-radius: 40px;
                            font-weight: lighter;
                            background: $c01;
                            color: $cWhite;
                            position: absolute;
                            z-index: 110;
                            i, div{
                            opacity: 0.8;
                            &:hover{
                                opacity: 1;
                            }
                            }

                            .power{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 10px;
                                width: 16px;
                                height: 16px;
                                padding: 0px;
                                color: $c01;
                                border-radius: 100px;
                                background: $cWhite;
                                }
                            }
                            .content{

                                text-align: center;
                                .context{
                                    text-align: center;
                                    /* align-self: center; */
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
                                    justify-content: center;
                                    p{
                                        font-weight: bold;
                                    }
                                }

                            }
                        }
                        .s-100{
                            height: 100%  !important;
                            width: inherit;
                        }
                        .s-90{
                            height: 90%  !important;
                            width: inherit;
                        }
                        .s-80{
                            height: 80%  !important;
                            width: inherit;
                        }
                        .s-75{
                            height: 75%  !important;
                            width: inherit;
                        }
                        .s-70{
                            height: 70%  !important;
                            width: inherit;
                        }
                        .s-60{
                            height: 60%  !important;
                            width: inherit;
                        }
                        .s-50{
                            height: 50%  !important;
                            width: inherit;
                        }
                        .s-40{
                            height: 40%  !important;
                            width: inherit;
                        }
                        .s-30{
                            height: 30%  !important;
                            width: inherit;
                        }
                        .s-25{
                            height: 25%  !important;
                            width: inherit;
                        }
                        .s-20{
                            height: 20%  !important;
                            width: inherit;
                        }
                        .s-10{
                            height: 10%  !important;
                            width: inherit;
                        }
                    }
                    }
                    .play{
                        z-index: 10;
                        background: none !important;
                        border:none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        color: $c03;
                        width: 100% !important;
                        font-size: 1vw;
                        height: 100%;

                        video{
                            padding: 0;
                            width: inherit;
                            height: 100%;
                            object-fit: cover;
                        }

                        i{
                            font-size: 6vw;
                            color: $c03

                        }

                    }
                    &:hover{
                        //border-color: $cMain;

                        .play{
                            color: $cMain;
                            i{
                                color: $cMain;
                            }
                        }
                    }




                }
            }
            .published{
                #AB{
                  li:hover{
                    border: 2px solid $c01 !important;
                    @include md{
                        &{
                            border: 3px solid $c01 !important;
                        }
                    }
                  }
                }
              }
            //---------------------------------------------------------GENERIC

        }
    }
    .playVideoEmbed {
        position: absolute;
        cursor: pointer;
        z-index:15;
        opacity: 1;
        &.pp{
           width: 100%;
           height: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
           opacity: 0 !important;

        }
        img{
            width: 6rem;
            transition: width 0.5s;
            @include md{
                width: 7rem;
            }
        }
        &:hover{
            opacity: 1;
            img{
                width: 7rem;
                @include md{
                    width: 8rem;
                }
            }
        }
    }

    /*---------------------------END POSTER------------*/
    .poster-end{
        height: 100%;
        width: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .logo  {
            .logoImg{
                height: 100%;
                width: 100%;
                object-fit: contain;
                border-radius: 15px;
                background: none !important;
                border: none !important;
            }
        }
        .content-text{
            h2{
                text-align: center;
                word-break: break-all;
                max-width: 100%;
                padding: 0 30px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 600px;
                margin: 0 !important;
            }
            p{
                text-align: center;
                word-break: break-all;
                max-width: 100%;
                padding: 0 30px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 600px;
                margin: 0 !important;
            }
        }
        #again{
                margin-top: 1rem!important;
                cursor: pointer;
        }
        .imgOff{
            display:none !important;
            .logoImg{
                display:none !important;
            }
        }
    }



    /*------------------------------------------------------------Flexbox----*/
    .justify-content-center {
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .align-items-center {
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .d-flex {
        display: -ms-flexbox!important;
        display: flex!important;
    }
    .flex-column {
        -ms-flex-direction: column!important;
        flex-direction: column!important;
    }
    .w-100 {
        width: 100%!important;
    }
    .p-0 {
        padding: 0!important;
    }
    .mb-3, .my-3 {
        margin-bottom: 1rem!important;
    }
    .mt-3, .my-3 {
        margin-top: 1rem!important;
    }



.d-none{
    display: none !important;
}


.On {
    display: flex !important;
}
.Off {
    display: none !important;
}


    #widgetContainer{
        position: absolute;
        z-index: 14;
        width: 100%;
        height: 100%;
        padding-bottom: 56%;
        overflow-y: auto;
        &.active{
            z-index: 16;
        }
        .colors-form{
            position: fixed;
            border-radius: 8px;
            border: none;
            padding: 4px 8px;
            background: $cMain;
            color: $cWhite;
            z-index: 20;
            margin-left: 0px;
            margin-top: 42px;
            @include md{
                margin-left: -32px;
            }
        }
        .fileds-form{
            position: fixed;
            border-radius: 8px;
            border: none;
            padding: 4px 8px;
            background: $cMain;
            color: $cWhite;
            z-index: 20;
            margin-left: 0px;
            @include md{
                margin-left: -32px;
            }
        }
        #AF{


            width: 100%;
            min-height: 100%;
            position: absolute;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            align-content: space-between;
            background: $c03;
            padding: 0;
            align-items: center;
            margin: 0;
            color: #00026a;
            overflow: auto;
                .itemForm, div{
                    flex-direction: column;
                    width: 80%;
                    max-width: 380px;
                    font-size: 18px;
                    margin-top: .5rem;
                    h3{
                        font-size:1.8rem;
                        line-height: 1.8;
                        margin: 0;
                        margin-bottom: .5rem;
                        padding-top: 10%;
                    }
                    label{
                        font-size: 12px;
                        display: inline-block;
                        margin-bottom: 0rem;
                    }
                    &.row{
                     flex-direction: row;
                    }
                    textarea{
                        background: $c03;
                        border: none;
                        border-bottom: solid $cWhite;
                        border-color: $cWhite;
                        width: 100%;
                        max-width: 380px;
                        font-size: 16px;
                        color:$cMain;
                        padding: 2%;
                         border-radius: 8px;
                        &:focus {
                            appearance: menulist-button;
                            background-image: none !important;
                            background-color: none !important;
                            color: fieldtext !important;
                            outline: none !important;
                        }
                        &:-webkit-autofill {
                            box-shadow: 0 0 0px 1000px $c03 inset !important;
                            outline: none !important;
                        }
                        &:focus-visible {
                            outline: none !important;
                        }

                    }
                    input{
                        &[type="text"], &[type="email"], &[type="tel"], &[type="date"], &[type="number"]{
                            background: $c03;
                            border: none;
                            border-bottom: solid $cWhite;
                            border-color: $cWhite;
                            width: 100%;
                            max-width: 380px;
                            font-size: 16px;
                            color:$cMain;
                            padding: 2%;
                             border-radius: 8px;
                            &:focus {
                                appearance: menulist-button;
                                background-image: none !important;
                                background-color: none !important;
                                color: fieldtext !important;
                                outline: none !important;
                            }
                            &:-webkit-autofill {
                                box-shadow: 0 0 0px 1000px $c03 inset !important;
                                outline: none !important;
                            }
                            &:focus-visible {
                                outline: none !important;
                            }
                        }
                        &[type="submit"]{
                            border-radius: 30px;
                            border: none;
                            margin-top: 1rem;
                            font-size: 20px;
                            padding: 8px 16px;
                            &:hover {
                                transform: scale(1.05);
                                transition: transform .2s ease-out;
                                transition: transform .2s ease-out;

                            }
                        }
                    }
                    button{
                        &[type="submit"]{
                            border-radius: 30px;
                            border: none;
                            margin-top: 1rem;
                            margin-bottom: 2rem;
                            font-size: 18px;
                            padding: 8px 16px;
                        }
                    }

                }

            .d-none{
                display: none !important;
            }
            @include sm{
                &{
                justify-content: center;
                &.content-start{
                    justify-content: flex-start;
                  }
                }

            }
        }
    }

    .mobile{
        #widgetContainer {
            #AF{
                justify-content: center;
                &.content-start{
                    justify-content: flex-start;
                  }
            }
        }
    }


    #fields-form-edit, #colors-form-edit{
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
        height: 100% !important;
        position: absolute;
        z-index: 30;
        top: 0%;
        right: 0;
        background: none;
        .form-edit-close{
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0.2;

        }
        .form-option-edit, .form-colors-edit{
            overflow: hidden;
            overflow-y: scroll;
            height: calc(100% - 60px);
            font-size: 16px;
            background: white;
            width: 100%;
            overflow: hidden;
            position: fixed;
            z-index: 100;
            top: 60px;
            right: 0;
            padding: 56px 16px 24px 24px;
            overflow-y: scroll;
            @include Shadow3;
            @include md {
                &{
                width: 364px;
                position: absolute;
                padding: 50px 16px 24px 24px;
                }
            }
            .closeM
            {
                font-size: 28px;
                position: absolute;
                right: 6%;
                top: 10px;
                z-index: 1400;
                color: $cMain;
            }
            ul{
                li{
                    border: dotted 2px $c03;
                    border-radius: 8px;
                    padding: 0.5rem;
                    p{
                        text-decoration: underline;
                        &.title{
                            text-decoration: none;
                        }
                    }
                }
                .required{
                    padding: 0.5rem;
                }
            }
        }
    }


    #colors-form-edit{
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            li{
                border:none !important;
                p{
                    text-decoration: none !important;
                    text-transform: uppercase;
                }
                span{
                    font-size: 14px;
                    color: #B6C8DD;
                }
                input{
                    font-size: 14px;
                    border: none 0px;
                    padding: 4px;
                    width: 20px;
                    height: 24px;
                    min-width: 20px;
                    min-height: 24px;
                    text-align: center;
                    &#cta-form {
                        padding: 16px;
                        border: solid 1px $c03;
                        border-radius: 8px;
                        margin-bottom: 8px;
                    }
                    &.hex-colors{
                        width: fit-content;
                        max-width: 74px;
                        background: #F2F5F9;
                    }
                    &.colors{
                        padding: 0px;
                        background: none;
                    }
                }

            }
        }

    }
=======
@import "mixins/mixins";
html, body, #__next, #root {
    height: 100%;
}

body{
    margin: 0px;
    width: 100%;
    padding: 0px;
    transform: none;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.mainContainer
    {
        width: 100%;
        height: 100vh;
        .main{
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;

            .content{
                height: 96%;
                width: 100%;
            }

            .steps{
                max-width:100%;
               // background-color: red;
                display: flex;
                justify-content: center;


                .progressbar-wrapper {
                    //background-color: greenyellow;

                    padding-top: 10px;
                    padding-bottom: 5px;
              }

            }
            .blockAdd
            {
                height: 100%;
                .d-Main{

                        background-color: #ffffff60;
                        width: 50vw;
                        height: calc(50vw/1.77);
                        position: relative;
                        border-style: dotted;
                        border-width: 0.25rem;
                        border-color: $c03;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                }

                .addVideoMain
                {
                    border-radius: 1.5rem;
                    overflow: hidden;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include md{
                        &{
                            border-radius: 1.5rem;
                        }
                    }




                //--------------------------------------------------------------------------ACTIONBOX OPTIONS
                    #widgetContainer{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                       padding: 0;
                       border-radius: 1.5rem;
                       overflow: hidden;
                    .ActionBox
                    {
                        z-index: 15;
                        width: -webkit-fill-available;
                        height: 100%;
                        height: -webkit-fill-available;
                        position: absolute;
                        display: grid;
                        grid-gap: 2%;
                        align-content: space-between;
                        background: #00000098;
                        padding: 2%;
                        margin: 0;
                        .aStart
                        {
                        justify-self: flex-start;
                        align-self: flex-start;
                        }
                        .aEnd
                        {
                        justify-self: flex-end;
                        align-self: flex-end;
                        }
                        .aCenter
                        {
                        justify-self: center;
                        align-self: center;
                        }
                        >li{

                            background:$c05;
                            border: none;
                            border-radius: 1rem;
                            display: flex;
                            overflow: hidden;
                            @include md{
                                &{
                                    border-radius: 1rem;
                                }
                            }

                            i{
                                display: flex;
                                height: 100%;
                                align-items: center;
                                padding: 0 3px;
                            }

                            &:hover{
                                @include Shadow2;
                            // border:solid 3px $c01;
                                //border-style: dotted;
                            }
                            img{
                                object-fit: cover;
                                height: 100%;
                                width: 99.9%;
                            }
                            .content{
                                height: 100%;
                                padding: 0% 0%;
                                align-items: center;
                                justify-content: center;
                                display: flex;
                                flex-direction: row;
                                text-align: left;
                                color:$cDark;
                                h4{
                                    width: 100%;
                                    font-size: 22px;
                                    font-weight: 800;
                                    margin: 0 !important;
                                }
                                p{
                                    width: 100%;
                                    margin: 0 !important;
                                }

                            }
                        }
                        .disable{
                            background: none;
                            border:solid 2px $c03 !important;
                            border-style: dotted !important;
                            .edit-tooltip{
                            background: $c03 !important;
                            }
                            img{
                                display: none !important;
                            }
                            .content
                            {
                            display: none;
                            }
                        }
                        .enable{
                            img{
                            display:initial;
                            }
                            .content
                            {
                            display: flex;
                            }
                        }
                        .imgOn{
                            img{
                                display:initial;
                                }
                        }
                        .imgOff{
                            img{
                                display: none !important;
                            }
                        }
                    }
                    .rows{
                        padding: 0;
                        &-6{
                            grid-template-rows: repeat(6, calc((100% - 10%) / 6));
                        }
                        &-5{
                            grid-template-rows: repeat(5, calc((100% - 8%) / 5));
                        }
                        &-4{
                            grid-template-rows: repeat(4, calc((100% - 6%) / 4));
                        }
                        &-3{
                            grid-template-rows: repeat(3, calc((100% - 4%) / 3));
                        }
                        &-2{
                            grid-template-rows: repeat(2, calc((100% - 2%) / 2));
                        }
                    }

                    .optionsRows{


                        li{
                            .content{

                                align-items: center;
                                justify-content: center;
                                .context{
                                    text-align: center;
                                    /* align-self: center; */
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
                                    justify-content: center;
                                    p{
                                        font-weight: bold;
                                    }
                                }
                            }
                        }

                        .s-100{
                            height: 100%;
                            width: 100% !important;


                        }
                        .s-90{
                            height: 100%;
                            width: 90% !important;
                        }
                        .s-80{
                            height: 100%;
                            width: 80% !important;
                        }
                        .s-75{
                            height: 100%;
                            width: 75% !important;
                        }
                        .s-70{
                            height: 100%;
                            width: 70% !important;
                        }
                        .s-60{
                            height: 100%;
                            width: 60% !important;
                        }
                        .s-50{
                            height: 100%;
                            width: 50% !important;
                        }
                        .s-40{
                            height: 100%;
                            width: 40% !important;
                        }
                        .s-30{
                            height: 100%;
                            width: 30% !important;
                        }
                        .s-25{
                            height: 100%;
                            width: 25% !important;
                        }
                        .s-20{
                            height: 100%;
                            width: 20% !important;
                        }
                        .s-10{
                            height: 100%;
                            width: 10% !important;
                        }
                    }
                    .cols{
                        &-6{
                            grid-template-columns: repeat(6, calc((100% - 10%) / 6));
                        }
                        &-5{
                            grid-template-columns: repeat(5, calc((100% - 8%) / 5));
                        }
                        &-4{
                            grid-template-columns: repeat(4, calc((100% - 6%) / 4));
                        }
                        &-3{
                            grid-template-columns: repeat(3, calc((100% - 4%) / 3));
                        }
                        &-2{
                            grid-template-columns: repeat(2, calc((100% - 2%) / 2));
                        }
                    }
                    .optionsCols{

                        .ABsort-placeholder
                        {
                            border:dotted 2px $c01;
                            background: none;
                        }
                        align-content: normal;
                        li{
                            flex-direction: column;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                            .content{
                                height: 50%;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                            }
                            .edit-tooltip{
                            width: auto;
                            font-size: 14px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 8px 10px;
                            border-radius: 40px;
                            font-weight: lighter;
                            background: $c01;
                            color: $cWhite;
                            position: absolute;
                            z-index: 110;
                            i, div{
                            opacity: 0.8;
                            &:hover{
                                opacity: 1;
                            }
                            }

                            .power{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 10px;
                                width: 16px;
                                height: 16px;
                                padding: 0px;
                                color: $c01;
                                border-radius: 100px;
                                background: $cWhite;
                                }
                            }
                            .content{

                                text-align: center;
                                .context{
                                    text-align: center;
                                    /* align-self: center; */
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
                                    justify-content: center;
                                    p{
                                        font-weight: bold;
                                    }
                                }

                            }
                        }
                        .s-100{
                            height: 100%  !important;
                            width: inherit;
                        }
                        .s-90{
                            height: 90%  !important;
                            width: inherit;
                        }
                        .s-80{
                            height: 80%  !important;
                            width: inherit;
                        }
                        .s-75{
                            height: 75%  !important;
                            width: inherit;
                        }
                        .s-70{
                            height: 70%  !important;
                            width: inherit;
                        }
                        .s-60{
                            height: 60%  !important;
                            width: inherit;
                        }
                        .s-50{
                            height: 50%  !important;
                            width: inherit;
                        }
                        .s-40{
                            height: 40%  !important;
                            width: inherit;
                        }
                        .s-30{
                            height: 30%  !important;
                            width: inherit;
                        }
                        .s-25{
                            height: 25%  !important;
                            width: inherit;
                        }
                        .s-20{
                            height: 20%  !important;
                            width: inherit;
                        }
                        .s-10{
                            height: 10%  !important;
                            width: inherit;
                        }
                    }
                    }
                    .play{
                        z-index: 10;
                        background: none !important;
                        border:none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        color: $c03;
                        width: 100% !important;
                        font-size: 1vw;
                        height: 100%;

                        video{
                            padding: 0;
                            width: inherit;
                            height: 100%;
                            object-fit: cover;
                        }

                        i{
                            font-size: 6vw;
                            color: $c03

                        }

                    }
                    &:hover{
                        //border-color: $cMain;

                        .play{
                            color: $cMain;
                            i{
                                color: $cMain;
                            }
                        }
                    }




                }
            }
            .published{
                #AB{
                  li:hover{
                    border: 2px solid $c01 !important;
                    @include md{
                        &{
                            border: 3px solid $c01 !important;
                        }
                    }
                  }
                }
              }
            //---------------------------------------------------------GENERIC

        }
    }
    .playVideoEmbed {
        position: absolute;
        cursor: pointer;
        z-index:15;
        opacity: 1;
        &.pp{
           width: 100%;
           height: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
           opacity: 0 !important;

        }
        img{
            width: 6rem;
            transition: width 0.5s;
            @include md{
                width: 7rem;
            }
        }
        &:hover{
            opacity: 1;
            img{
                width: 7rem;
                @include md{
                    width: 8rem;
                }
            }
        }
    }

    /*---------------------------END POSTER------------*/
    .poster-end{
        height: 100%;
        width: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .logo  {
            .logoImg{
                height: 100%;
                width: 100%;
                object-fit: contain;
                border-radius: 15px;
                background: none !important;
                border: none !important;
            }
        }
        .content-text{
            h2{
                text-align: center;
                word-break: break-all;
                max-width: 100%;
                padding: 0 30px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 600px;
                margin: 0 !important;
            }
            p{
                text-align: center;
                word-break: break-all;
                max-width: 100%;
                padding: 0 30px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 600px;
                margin: 0 !important;
            }
        }
        #again{
                margin-top: 1rem!important;
                cursor: pointer;
        }
        .imgOff{
            display:none !important;
            .logoImg{
                display:none !important;
            }
        }
    }



    /*------------------------------------------------------------Flexbox----*/
    .justify-content-center {
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .align-items-center {
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .d-flex {
        display: -ms-flexbox!important;
        display: flex!important;
    }
    .flex-column {
        -ms-flex-direction: column!important;
        flex-direction: column!important;
    }
    .w-100 {
        width: 100%!important;
    }
    .p-0 {
        padding: 0!important;
    }
    .mb-3, .my-3 {
        margin-bottom: 1rem!important;
    }
    .mt-3, .my-3 {
        margin-top: 1rem!important;
    }



.d-none{
    display: none !important;
}


.On {
    display: flex !important;
}
.Off {
    display: none !important;
}


    #widgetContainer{
        position: absolute;
        z-index: 14;
        width: 100%;
        height: 100%;
        padding-bottom: 56%;
        overflow-y: auto;
        &.active{
            z-index: 16;
        }
        .colors-form{
            position: fixed;
            border-radius: 8px;
            border: none;
            padding: 4px 8px;
            background: $cMain;
            color: $cWhite;
            z-index: 20;
            margin-left: 0px;
            margin-top: 42px;
            @include md{
                margin-left: -32px;
            }
        }
        .fileds-form{
            position: fixed;
            border-radius: 8px;
            border: none;
            padding: 4px 8px;
            background: $cMain;
            color: $cWhite;
            z-index: 20;
            margin-left: 0px;
            @include md{
                margin-left: -32px;
            }
        }
        #AF{


            width: 100%;
            min-height: 100%;
            position: absolute;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            align-content: space-between;
            background: $c03;
            padding: 0;
            align-items: center;
            margin: 0;
            color: #00026a;
            overflow: auto;
                .itemForm, div{
                    flex-direction: column;
                    width: 80%;
                    max-width: 380px;
                    font-size: 18px;
                    margin-top: .5rem;
                    h3{
                        font-size:1.8rem;
                        line-height: 1.8;
                        margin: 0;
                        margin-bottom: .5rem;
                        padding-top: 10%;
                    }
                    label{
                        font-size: 12px;
                        display: inline-block;
                        margin-bottom: 0rem;
                    }
                    &.row{
                     flex-direction: row;
                    }
                    textarea{
                        background: $c03;
                        border: none;
                        border-bottom: solid $cWhite;
                        border-color: $cWhite;
                        width: 100%;
                        max-width: 380px;
                        font-size: 16px;
                        color:$cMain;
                        padding: 2%;
                         border-radius: 8px;
                        &:focus {
                            appearance: menulist-button;
                            background-image: none !important;
                            background-color: none !important;
                            color: fieldtext !important;
                            outline: none !important;
                        }
                        &:-webkit-autofill {
                            box-shadow: 0 0 0px 1000px $c03 inset !important;
                            outline: none !important;
                        }
                        &:focus-visible {
                            outline: none !important;
                        }

                    }
                    input{
                        &[type="text"], &[type="email"], &[type="tel"], &[type="date"], &[type="number"]{
                            background: $c03;
                            border: none;
                            border-bottom: solid $cWhite;
                            border-color: $cWhite;
                            width: 100%;
                            max-width: 380px;
                            font-size: 16px;
                            color:$cMain;
                            padding: 2%;
                             border-radius: 8px;
                            &:focus {
                                appearance: menulist-button;
                                background-image: none !important;
                                background-color: none !important;
                                color: fieldtext !important;
                                outline: none !important;
                            }
                            &:-webkit-autofill {
                                box-shadow: 0 0 0px 1000px $c03 inset !important;
                                outline: none !important;
                            }
                            &:focus-visible {
                                outline: none !important;
                            }
                        }
                        &[type="submit"]{
                            border-radius: 30px;
                            border: none;
                            margin-top: 1rem;
                            font-size: 20px;
                            padding: 8px 16px;
                            &:hover {
                                transform: scale(1.05);
                                transition: transform .2s ease-out;
                                transition: transform .2s ease-out;

                            }
                        }
                    }
                    button{
                        &[type="submit"]{
                            border-radius: 30px;
                            border: none;
                            margin-top: 1rem;
                            margin-bottom: 2rem;
                            font-size: 18px;
                            padding: 8px 16px;
                        }
                    }

                }

            .d-none{
                display: none !important;
            }
            @include sm{
                &{
                justify-content: center;
                &.content-start{
                    justify-content: flex-start;
                  }
                }

            }
        }
    }

    .mobile{
        #widgetContainer {
            #AF{
                justify-content: center;
                &.content-start{
                    justify-content: flex-start;
                  }
            }
        }
    }


    #fields-form-edit, #colors-form-edit{
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
        height: 100% !important;
        position: absolute;
        z-index: 30;
        top: 0%;
        right: 0;
        background: none;
        .form-edit-close{
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0.2;

        }
        .form-option-edit, .form-colors-edit{
            overflow: hidden;
            overflow-y: scroll;
            height: calc(100% - 60px);
            font-size: 16px;
            background: white;
            width: 100%;
            overflow: hidden;
            position: fixed;
            z-index: 100;
            top: 60px;
            right: 0;
            padding: 56px 16px 24px 24px;
            overflow-y: scroll;
            @include Shadow3;
            @include md {
                &{
                width: 364px;
                position: absolute;
                padding: 50px 16px 24px 24px;
                }
            }
            .closeM
            {
                font-size: 28px;
                position: absolute;
                right: 6%;
                top: 10px;
                z-index: 1400;
                color: $cMain;
            }
            ul{
                li{
                    border: dotted 2px $c03;
                    border-radius: 8px;
                    padding: 0.5rem;
                    p{
                        text-decoration: underline;
                        &.title{
                            text-decoration: none;
                        }
                    }
                }
                .required{
                    padding: 0.5rem;
                }
            }
        }
    }


    #colors-form-edit{
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            li{
                border:none !important;
                p{
                    text-decoration: none !important;
                    text-transform: uppercase;
                }
                span{
                    font-size: 14px;
                    color: #B6C8DD;
                }
                input{
                    font-size: 14px;
                    border: none 0px;
                    padding: 4px;
                    width: 20px;
                    height: 24px;
                    min-width: 20px;
                    min-height: 24px;
                    text-align: center;
                    &#cta-form {
                        padding: 16px;
                        border: solid 1px $c03;
                        border-radius: 8px;
                        margin-bottom: 8px;
                    }
                    &.hex-colors{
                        width: fit-content;
                        max-width: 74px;
                        background: #F2F5F9;
                    }
                    &.colors{
                        padding: 0px;
                        background: none;
                    }
                }

            }
        }

    }
>>>>>>> 0d6f5c2c18f02c9c7d0a3cb40a1c8218e42ba08f
