@import "mixins/mixins";

.logIn{
    .formy{
        
        top:-3rem;
        align-items: center;
        @media screen and (max-width: 768px) {
        top:-1rem;
        }
        form{
            max-width: 380px;
            padding: 3rem 2rem 1rem;
           // margin-top:30px;
            border-radius: 15px;
            //@include Shadow1;  
            
            .text-muted {
                color: $c01 !important;
            }
            span{
                //cursor: pointer;  
                //color: $c01 !important;     
                font-size: small;        
            }
            input{
                border:solid 1px $c01;
                padding: 8px;
                border-radius: 8px;               
                text-indent: 40px;
            }
            i{
                font-size: large;
                color: $c01;
            }
            .input-group-text{              
                border: solid 1px $c01;              
                border-radius: 8px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                background: none;
            }
           
           
            @media screen and (max-width: 768px) {
            max-width: 350px;
            }
           
        }
        .or-separate{
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            max-width: 348px;          
            margin: 20px 0px;
            hr{
                -webkit-box-flex: 1;
                flex-grow: 1;
                height: 1px;
                background-color: rgb(211, 211, 211);
                border: none;
                margin: 0px 10px;
            }
        }

        .google-login{
            max-width: 348px;
          
           .btn{
            background: none;          
            border-radius: 50px;
            padding: 9px 8px;
            border: solid 1px $cMain;
            margin-top: 20px;
           }
            img{
                width: 20px;
                margin: 0 10px 0 0;
            }
        }

        .terms{
            font-size: small;
        }
        
    }

    .logoImg{
    
        height: auto;
        max-width: 140px !important;
    }

    .input-icon {
        position: relative;
        &>i {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #aaa;
        }
        &>input {
            padding-left: 40px;
        }
    }    
}

