
@import "mixins/mixins";

.NavUp{
    width: 100vw !important;
    background-color: $cMain;   
    align-items: center;
    i{
        font-size: xx-large;
        font-weight: bold;
    }
    .logoImg{
        max-width: 170px;
    }
    .navbar
    {
        .dropdown-menu{
            right: -6px;
            left: auto;
            float: none;
            top:97%;
            background:$cWhite;
            border:none;
            border-radius: 0 0 0 15px;
            font-size: 16px;
           @include Shadow2 ;
            
            a{
                color:$cMain;
                span{
                    margin-left: 1rem;
                }
                i{
                 font-size: 16px;
                }  
                &:hover{
                    background-color: $cWhite;
                    color: $c02;
                }
            }
        }
        min-height: 60px;
        .navbar-brand
        {
            height: 60px;            
        }
        
        ul{
            font-size: 16px;
            i{
                font-size: 16px;
            }
            
        }
       
    }
  
}
