@import "mixins/mixins";
.setup3{
   #cuepointList{
    width: 90% !important;
    z-index: 2;
   }
     .dropdown-menu
     {
        width: 100% !important;
        counter-reset: section;
        top: 13px !important;
         .item{
             background: none;
             border: none;
             border-bottom: 0.5px;
            /* p:nth-child(1)::before {
                counter-increment: section;
                content: counter(section) ;
                margin-right: 1rem;
                color:$c02;
              }*/
         }
     }

     .widgets
     {
        .nav-item
        {
            width: 80px;
            height: 70px;
            background:none;

             font-size: 14px;
             text-align: center;
             a{
                 width: 100%;
                 border:solid 1px $c03;
                 color:$c03;
                 div
                 {
                     display: flex;
                     width: 100%;
                     height: 100%;
                    align-items: center;
                    flex-direction: column;
                    justify-content: flex-end;
                 }

                 .opt-img
                 {

                    display: flex;
                    width: 100%;
                    height: 80%;
                   align-items: center;
                   justify-content: center;
                 }

             }
             .active{
                color:$cMain;
                background:none;
                border:solid 3px $c07;
             }

        }
        .W-Options{

           .active{
               color:$cMain;
               background:$c06;
               border:solid 3px $c07;
            }


            #fontNumber,  #fontNumberM
            {
                width: 50px;
            }

            .nav-item{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                h6{
                    font-size: 14px;
                }
                .custom-select
                {
                    width: 70% !important;
                }
            }
            #color-AB{
                div{
                    width: 40%;
                }
                #bg-AB{
                    width: 22px;
                    min-width: 22px;
                    margin: 0;
                    padding: 0;
                    border: none;
                    height: 26px;
                    background: none;
                }
                #hexBg-AB
                {
                  max-width: 75px;
                  width: 70px;
                  font-size: 14px;
                }
            }
        }
        .W-Nav
        {

            ul{
                border-radius: 6px;
                background-color: $c06;
                display: flex;
            }
            .nav-item{
                height: auto;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                a{
                    height: 100%;
                    border:none;
                    align-content: center;
                    display: flex;
                    flex-direction: column;
                    background-color: $c05;
                    color:$c03;
                    i{

                        font-size: 18px;
                    }
                    p{
                        font-size: 14px;
                    }

                }
                .active{
                    border:none;
                    background-color: $c01;
                    color:$cWhite;
                }
            }
            .openRadio
            {
                width: 100%;
                li{

                    width: 49%;
                    border-left: 1px white solid;

                }
            }
        }
     }

}

.edit-tooltipM{
    min-width: 90%;
    margin-top: 3rem;
    font-size: 14px;
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 8px 10px;
    border-radius: 40px;
    font-weight: lighter;
    background: $c01;
    color: #fff;
    z-index: 10;

}

.toolOptionEdit{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100% !important;
    position: fixed;
    z-index: 20;
    top: 0%;
    right: 0;
    background: none;
    #dropdownMenu33
    {
    font-size: 14px;
    }
    .toolOptionEditClose
    {
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.02;
    }
    .OptionsEdit{
        overflow: hidden;
        overflow-y: scroll;
        height: calc(100% - 60px);
        font-size: 16px;
        background: white;
        width: 100%;
        overflow: hidden;
        position: fixed;
        z-index: 100;
        top: 60px;
        right: 0;
        padding: 56px 16px 24px 24px;
        @include Shadow3;
        @include md {
            &{
            width: 364px;
            position: absolute;
            padding: 50px 16px 24px 24px;
            }
        }
    }

.titl
{
    background-color: $cMain;
    border-radius: 4px;
}
.moveThis{
    width: 20px;
    height: 20px;
    position: absolute;
    top: -8px;
    left: -2px;
    i
    {
        font-size: 30px;
        transform: rotate(-45deg);
        color: $c02;
    }
}
.accion ul .nav-item{

    .active{
        background: $c05;
        border:none;
    }
    .nav-link
    {
        border:none;
    }
}
.accion .tab-content{
    padding: 1rem;
    border-radius: 0 0 16px 16px;
    background: $c05;
}
.accion .nav{
    border:none;
    justify-content:center;
}

#goto-content
{
    input, #dropdownMenu44, #dropdownMenu33{
        background: $cWhite;
    }
}
.dropdown-menu
{
    position: relative;
    //left: 8px !important;
    //top: 136px !important;
    //transform: translate3d(0px, 0px, 0px) !important;
    width: 94% !important;
    font-size: 14px;
    color: #00026a;
    li{
    width: 100%;
    background: $c05;
    a{
        color: $cMain;
    }
    .active{
        background: $cMain;
    }
    }

}
.closeM
{
    font-size: 28px;
    position: absolute;
    right: 6%;
    top: 10px;
    z-index: 1400;
    color: $cMain;
}
.aline
{
    li{
    display: flex;
    width: 26px;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
        &:hover{
            border: solid $c02;
        }
    }
    .active{
     opacity: 1 !important;
     border: solid $c01 !important;
    }
}
.sizes
{
    li{
    text-align: center;
    opacity: 0.3;
        &:hover{
            color: $cMain;
            opacity: 0.5;
        }
    }
    .active{
     opacity: 1 !important;
     color: $c01 !important;
    }
}
li{
    list-style-type: none;
    text-decoration: none;
    padding: 0 8px;
}
.openRadio{
    height: 26px;
    input[type=radio] {
        border: 0px;
        width: 100%;
        height: 0;
        min-height: 16px !important;
        min-width: 16px !important;
      }
}

.accionBtn
{
    font-size: 12px !important;
    text-align: left !important;
    justify-content: space-between !important;
    &::after{
    right: 16px;
    top: 15px;
    position: absolute;
    }
}
    input{
        font-size: 14px;
        border: none 0px;
        padding: 4px;
        width: 20px;
        height: 24px;
        min-width: 20px;
        min-height: 24px;
        text-align: center;
    }
    #colorpicker, #colorpickerBG,  #colorpickerFont,
    #colorpickerBG-poster,  #colorpickerFont-title-poster, #colorpickerFont-des-poster, #colorpicker-cta-poster,  #colorpickerFont-cta-poster
    {
    background: none;
    padding: 0px;
    }
    #hexcolorBG,  #hexcolorFont, #hexcolor,
    #hexcolorFont-title-poster, #hexcolorFont-des-poster, #hexcolorBG-poster, #hexcolor-cta-poster, #hexcolorFont-cta-poster
    {
        width: fit-content;
        max-width: 70px;
        background: $c06;
    }
    #borderNumber, #fontNumber,
    #fontNumber-title-poster, #fontNumber-des-poster
    {
        width: fit-content;
        max-width: 50px;
    }

    .activePanel {
        font-size: 16px;
    }
}

#widgetContainerForm{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 56%;
    overflow-y: overlay;
    .colors-form{
        position: fixed;
        border-radius: 8px;
        border: none;
        padding: 4px 8px;
        background: $cMain;
        color: $cWhite;
        z-index: 20;
        margin-left: 0px;
        margin-top: 42px;
        @include md{
            margin-left: -32px;
        }
    }
    .fileds-form{
        position: fixed;
        border-radius: 8px;
        border: none;
        padding: 4px 8px;
        background: $cMain;
        color: $cWhite;
        z-index: 20;
        margin-left: 0px;
        @include md{
            margin-left: -32px;
        }
    }
    #AF{

        z-index: 15;
        width: 100%;
        height: fit-content;
        min-height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        background: $c03;
        padding: 2% 2%;
        justify-content: center;
        align-items: center;
        margin: 0;
        color: #00026a;
        overflow: auto;


            div{
                flex-direction: column;
                width: 80%;
                max-width: 380px;
                font-size: 18px;
                margin-top: 1rem;
                h3{
                    font-size:1.8rem;
                    line-height: 1.8;
                }
                label{
                    font-size: 12px;
                    display: inline-block;
                    margin-bottom: 0rem;
                }
                &.row{
                 flex-direction: row;
                }
                input{
                    &[type="text"], &[type="email"], &[type="tel"], &[type="date"], &[type="number"]{
                        background: $c03;
                        border: none;
                        border-bottom: solid $cWhite;
                        border-color: $cWhite;
                        max-width: 380px;
                        font-size: 16px;
                        color:$cMain;
                        &:focus {
                            appearance: menulist-button;
                            background-image: none !important;
                            background-color: none !important;
                            color: fieldtext !important;
                            outline: none !important;
                        }
                        &:-webkit-autofill {
                            box-shadow: 0 0 0px 1000px $c03 inset !important;
                            outline: none !important;
                        }
                        &:focus-visible {
                            outline: none !important;
                        }
                    }
                    &[type="submit"]{
                        border-radius: 30px;
                        border: none;
                        margin-top: 1rem;
                        font-size: 20px;
                        padding: 8px 16px;
                        &:hover {
                            transform: scale(1.05);
                            transition: transform .2s ease-out;
                            transition: transform .2s ease-out;

                        }
                    }
                }
                button{
                    &[type="submit"]{
                        border-radius: 30px;
                        border: none;
                        margin-top: 1rem;
                        font-size: 18px;
                        padding: 8px 16px;
                    }
                }

            }

    }
}

.mobile{
    #widgetContainerForm {
        #AF{
            justify-content: flex-start;
        }
    }
}


#fields-form-edit, #colors-form-edit{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100% !important;
    position: absolute;
    z-index: 30;
    top: 0%;
    right: 0;
    background: none;
    .form-edit-close{
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.2;

    }
    .form-option-edit, .form-colors-edit{
        overflow: hidden;
        overflow-y: scroll;
        height: calc(100% - 60px);
        font-size: 16px;
        background: white;
        width: 100%;
        overflow: hidden;
        position: fixed;
        z-index: 100;
        top: 60px;
        right: 0;
        padding: 56px 16px 24px 24px;
        overflow-y: scroll;
        @include Shadow3;
        @include md {
            &{
            width: 364px;
            position: absolute;
            padding: 50px 16px 24px 24px;
            }
        }
        .closeM
        {
            font-size: 28px;
            position: absolute;
            right: 6%;
            top: 10px;
            z-index: 1400;
            color: $cMain;
        }
        ul{
            li{
                border: dotted 2px $c03;
                border-radius: 8px;
                padding: 0.5rem;
                p{
                    text-decoration: underline;
                    &.title{
                        text-decoration: none;
                    }
                }
            }
            .required{
                padding: 0.5rem;
            }
        }
    }
}


#colors-form-edit{
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
            border:none !important;
            p{
                text-decoration: none !important;
                text-transform: uppercase;
            }
            span{
                font-size: 14px;
                color: #B6C8DD;
            }
            input{
                font-size: 14px;
                border: none 0px;
                padding: 4px;
                width: 20px;
                height: 24px;
                min-width: 20px;
                min-height: 24px;
                text-align: center;
                &#cta-form {
                    padding: 16px;
                    border: solid 1px $c03;
                    border-radius: 8px;
                    margin-bottom: 8px;
                }
                &.hex-colors{
                    width: fit-content;
                    max-width: 74px;
                    background: #F2F5F9;
                }
                &.colors{
                    padding: 0px;
                    background: none;
                }
            }

        }
    }

}

.options.selected {
    opacity: 1;
}
